/.gitattributes
/.vscode
/alterar.php
/cadastro.css
/cadastro.html
/cad_cliente.php
/conexao.php
/configuracoes.css
/configuracoes.html
/excluir.php
/IMG
/index.html
/LICENSE
/login.html
/pagina_logado.html
/pag_inicial.css
/pesquisar_index.php
/pesquisar_logado.php
/README.md
/styles.css
/upload.css
/upload.php
/upload_produtos.html
/valida_login.php